body {
 color: #2d3c49;
 font-weight: 300;
}

hr {
    border-width: 3px; 
}

.text-muted {
    color: #7d97ad;
}

.big-thin {
    font-size: 40px;
}

.logo-space {
    margin-top: 20px;    
}

.blue-back {
    background: #7d97ad;
}

.top-margin {
    margin-top: 20px;   
}

.projects_section {
    margin: default
}

.project_header {
    margin: default
}
